body {
    background: url("../../img/montagne/digital-break-podium.gif") no-repeat!important;
    background-size: cover!important;
    font-family: 'Chewy', cursive;
    width: 100%;
    height: 100%;
}