body {
    background: url("../../img/assurance/digital-break-podium-assurances.gif") no-repeat!important;
    background-size: cover!important;
    font-family: 'Chewy', cursive;
    width: 100%;
    height: 100%;
}